# TODO: search for `array_values` and refactor where only needed due to `...` usage
# TODO: use a flat hierarchy for type interfaces where possible
includes:
    #- vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
parameters:
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - packages/access-definitions/src
        - packages/dql/src
        - packages/extra/src
        - packages/jsonapi/src
        - packages/paths/src
        - packages/queries/src
    ignoreErrors:
        -
            message: """
                #^Call to deprecated method isExposedAsRelationship\\(\\) of class EDT\\\\Wrapping\\\\Contracts\\\\Types\\\\ExposableRelationshipTypeInterface\\:
                will be removed to reduce usage complexity, evaluate the conditions when returning relationships in methods like \\{@link TransferableTypeInterface\\:\\:getReadableProperties\\(\\)\\} instead$#
            """
            count: 2
            path: packages/access-definitions/src/Wrapping/TypeProviders/TypeRequirement.php

        -
            message: "#^Method EDT\\\\Wrapping\\\\Utilities\\\\CachingPropertyReader\\:\\:determineToManyRelationshipValue\\(\\) should return array\\<int, TEntity of object\\> but returns array\\<int, object\\>\\.$#"
            count: 1
            path: packages/access-definitions/src/Wrapping/Utilities/CachingPropertyReader.php

        -
            message: "#^Method EDT\\\\Wrapping\\\\Utilities\\\\CachingPropertyReader\\:\\:determineToOneRelationshipValue\\(\\) should return \\(TEntity of object\\)\\|null but returns object\\|null\\.$#"
            count: 1
            path: packages/access-definitions/src/Wrapping/Utilities/CachingPropertyReader.php

        -
            message: "#^Property EDT\\\\DqlQuerying\\\\Functions\\\\AbstractClauseFunction\\<TOutput\\>\\:\\:\\$clauses \\(array\\<int, EDT\\\\DqlQuerying\\\\Contracts\\\\ClauseInterface\\>\\) does not accept array\\<int\\|string, EDT\\\\DqlQuerying\\\\Contracts\\\\ClauseInterface\\>\\.$#"
            count: 1
            path: packages/dql/src/Functions/AbstractClauseFunction.php

        -
            message: "#^Parameter \\#2 \\$x of method Doctrine\\\\ORM\\\\Query\\\\Expr\\:\\:between\\(\\) expects int\\|string, Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Base\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string given\\.$#"
            count: 1
            path: packages/dql/src/Functions/BetweenInclusive.php

        -
            message: "#^Parameter \\#3 \\$y of method Doctrine\\\\ORM\\\\Query\\\\Expr\\:\\:between\\(\\) expects int\\|string, Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Base\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string given\\.$#"
            count: 1
            path: packages/dql/src/Functions/BetweenInclusive.php

        -
            message: "#^Parameter \\#1 \\$function of class EDT\\\\Querying\\\\Functions\\\\OneOf constructor expects EDT\\\\Querying\\\\Contracts\\\\FunctionInterface\\<array\\<int, V\\>\\|V\\>, EDT\\\\DqlQuerying\\\\Contracts\\\\ClauseFunctionInterface\\<array\\<V\\>\\> given\\.$#"
            count: 1
            path: packages/dql/src/Functions/IsMemberOf.php

        -
            message: "#^Parameter \\#1 \\$x of method Doctrine\\\\ORM\\\\Query\\\\Expr\\:\\:isMemberOf\\(\\) expects string, Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Base\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string given\\.$#"
            count: 1
            path: packages/dql/src/Functions/IsMemberOf.php

        -
            message: "#^Parameter \\#2 \\$y of method Doctrine\\\\ORM\\\\Query\\\\Expr\\:\\:isMemberOf\\(\\) expects string, Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Base\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string given\\.$#"
            count: 1
            path: packages/dql/src/Functions/IsMemberOf.php

        -
            message: "#^Parameter \\#2 \\.\\.\\.\\$functions of class EDT\\\\Querying\\\\Functions\\\\OneOf constructor expects EDT\\\\Querying\\\\Contracts\\\\FunctionInterface\\<array\\<int, V\\>\\|V\\>, EDT\\\\DqlQuerying\\\\Contracts\\\\ClauseFunctionInterface\\<V\\> given\\.$#"
            count: 1
            path: packages/dql/src/Functions/IsMemberOf.php

        -
            message: "#^Parameter \\#1 \\$x of method Doctrine\\\\ORM\\\\Query\\\\Expr\\:\\:isNull\\(\\) expects string, Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Composite\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string given\\.$#"
            count: 1
            path: packages/dql/src/Functions/IsNull.php

        -
            message: "#^Parameter \\#1 \\$function of class EDT\\\\Querying\\\\Functions\\\\OneOf constructor expects EDT\\\\Querying\\\\Contracts\\\\FunctionInterface\\<array\\<int, V\\>\\|V\\>, EDT\\\\DqlQuerying\\\\Contracts\\\\ClauseFunctionInterface\\<array\\<V\\>\\> given\\.$#"
            count: 1
            path: packages/dql/src/Functions/OneOf.php

        -
            message: "#^Parameter \\#1 \\$x of method Doctrine\\\\ORM\\\\Query\\\\Expr\\:\\:in\\(\\) expects string, Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Base\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string given\\.$#"
            count: 1
            path: packages/dql/src/Functions/OneOf.php

        -
            message: "#^Parameter \\#2 \\.\\.\\.\\$functions of class EDT\\\\Querying\\\\Functions\\\\OneOf constructor expects EDT\\\\Querying\\\\Contracts\\\\FunctionInterface\\<array\\<int, V\\>\\|V\\>, EDT\\\\DqlQuerying\\\\Contracts\\\\ClauseFunctionInterface\\<V\\> given\\.$#"
            count: 1
            path: packages/dql/src/Functions/OneOf.php

        -
            message: "#^Method EDT\\\\DqlQuerying\\\\Functions\\\\Product\\:\\:asDql\\(\\) should return Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Composite\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string but returns Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Base\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string\\|null\\.$#"
            count: 1
            path: packages/dql/src/Functions/Product.php

        -
            message: "#^Parameter \\#1 \\$x of method Doctrine\\\\ORM\\\\Query\\\\Expr\\:\\:like\\(\\) expects string, Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Base\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string given\\.$#"
            count: 1
            path: packages/dql/src/Functions/StringContains.php

        -
            message: "#^Parameter \\#1 \\$x of method Doctrine\\\\ORM\\\\Query\\\\Expr\\:\\:like\\(\\) expects string, Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Base\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string given\\.$#"
            count: 1
            path: packages/dql/src/Functions/StringEndsWith.php

        -
            message: "#^Parameter \\#1 \\$x of method Doctrine\\\\ORM\\\\Query\\\\Expr\\:\\:like\\(\\) expects string, Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Base\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string given\\.$#"
            count: 1
            path: packages/dql/src/Functions/StringStartsWith.php

        -
            message: "#^Method EDT\\\\DqlQuerying\\\\Functions\\\\Sum\\:\\:asDql\\(\\) should return Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Composite\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string but returns Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Base\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Comparison\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Func\\|Doctrine\\\\ORM\\\\Query\\\\Expr\\\\Math\\|string\\.$#"
            count: 1
            path: packages/dql/src/Functions/Sum.php

        -
            message: """
                #^Class EDT\\\\DqlQuerying\\\\ObjectProviders\\\\DoctrineOrmEntityProvider implements deprecated interface EDT\\\\Querying\\\\Contracts\\\\ObjectProviderInterface\\:
                use \\{@link EntityProviderInterface\\} instead$#
            """
            count: 1
            path: packages/dql/src/ObjectProviders/DoctrineOrmEntityProvider.php

        -
            message: "#^Instanceof between Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadata and Doctrine\\\\ORM\\\\Mapping\\\\ClassMetadataInfo will always evaluate to true\\.$#"
            count: 1
            path: packages/dql/src/Utilities/JoinFinder.php

        -
            message: "#^Method EDT\\\\JsonApi\\\\ApiDocumentation\\\\OpenAPISchemaGenerator\\:\\:wrapAsJsonApiResponseSchema\\(\\) has parameter \\$includedObjects with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/jsonapi/src/ApiDocumentation/OpenAPISchemaGenerator.php

        -
            message: "#^Method EDT\\\\JsonApi\\\\OutputTransformation\\\\DynamicTransformer\\:\\:processIncludedResources\\(\\) return type has no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/jsonapi/src/OutputTransformation/DynamicTransformer.php

        -
            message: "#^Strict comparison using \\=\\=\\= between null and League\\\\Fractal\\\\Scope will always evaluate to false\\.$#"
            count: 1
            path: packages/jsonapi/src/OutputTransformation/DynamicTransformer.php

        -
            message: "#^Parameter \\#1 \\$resourceIdentifierObject of static method EDT\\\\JsonApi\\\\Schema\\\\ToOneResourceLinkage\\:\\:createFromArray\\(\\) expects array\\{type\\: non\\-empty\\-string, id\\: non\\-empty\\-string\\}\\|null, array\\<'id'\\|'type'\\|int, array\\{type\\: non\\-empty\\-string, id\\: non\\-empty\\-string\\}\\|non\\-empty\\-string\\>\\|null given\\.$#"
            count: 1
            path: packages/jsonapi/src/Schema/RelationshipObject.php

        -
            message: "#^Parameter \\#1 \\$resourceLinkage of static method EDT\\\\JsonApi\\\\Schema\\\\ToManyResourceLinkage\\:\\:createFromArray\\(\\) expects array\\<int, array\\{type\\: non\\-empty\\-string, id\\: non\\-empty\\-string\\}\\>, array\\<int, array\\{type\\: non\\-empty\\-string, id\\: non\\-empty\\-string\\}\\|non\\-empty\\-string\\> given\\.$#"
            count: 1
            path: packages/jsonapi/src/Schema/RelationshipObject.php

        -
            message: "#^Parameter \\#1 \\$nodes of method PhpParser\\\\NodeTraverser\\:\\:traverse\\(\\) expects array\\<PhpParser\\\\Node\\>, array\\<PhpParser\\\\Node\\\\Stmt\\>\\|null given\\.$#"
            count: 1
            path: packages/paths/src/Parsing/Utilities/DocblockTagParser.php

        -
            message: "#^Property EDT\\\\PathBuilding\\\\DocblockPropertyByTraitEvaluator\\:\\:\\$parsedClasses \\(array\\<class\\-string, array\\<non\\-empty\\-string, class\\-string\\>\\>\\) does not accept non\\-empty\\-array\\<class\\-string, array\\<class\\-string\\>\\>\\.$#"
            count: 1
            path: packages/paths/src/PathBuilding/DocblockPropertyByTraitEvaluator.php

        -
            message: "#^Call to function is_subclass_of\\(\\) with class\\-string\\<static\\(EDT\\\\PathBuilding\\\\End\\<T\\>\\)\\> and 'EDT\\\\\\\\PathBuilding\\\\\\\\PropertyAutoPathInterface' will always evaluate to true\\.$#"
            count: 2
            path: packages/paths/src/PathBuilding/End.php

        -
            message: "#^Cannot call method getTargetTags\\(\\) on EDT\\\\PathBuilding\\\\DocblockPropertyByTraitEvaluator\\|null\\.$#"
            count: 1
            path: packages/paths/src/PathBuilding/End.php

        -
            message: "#^Method EDT\\\\PathBuilding\\\\End\\:\\:createChild\\(\\) has parameter \\$constructorArgs with no value type specified in iterable type array\\.$#"
            count: 1
            path: packages/paths/src/PathBuilding/End.php

        -
            message: "#^Method EDT\\\\PathBuilding\\\\End\\:\\:getIterator\\(\\) should return ArrayIterator\\<int, non\\-empty\\-string\\> but returns ArrayIterator\\<int, string\\>\\.$#"
            count: 1
            path: packages/paths/src/PathBuilding/End.php

        -
            message: "#^Method EDT\\\\PathBuilding\\\\End\\:\\:toAliases\\(\\) should return array\\<non\\-empty\\-string, non\\-empty\\-array\\<int, non\\-empty\\-string\\>\\> but returns array\\.$#"
            count: 1
            path: packages/paths/src/PathBuilding/End.php

        -
            message: "#^Parameter \\#1 \\$callable of static method EDT\\\\Querying\\\\Utilities\\\\Iterables\\:\\:mapFlat\\(\\) expects callable\\(string\\)\\: array\\<int, string\\>, array\\{\\$this\\(EDT\\\\PathBuilding\\\\TraitEvaluator\\), 'getAllNestedTraits'\\} given\\.$#"
            count: 1
            path: packages/paths/src/PathBuilding/TraitEvaluator.php

        -
            message: "#^Parameter \\#1 \\$contains of class EDT\\\\Querying\\\\Functions\\\\StringEndsWith constructor expects EDT\\\\Querying\\\\Contracts\\\\FunctionInterface\\<string\\|null\\>, EDT\\\\Querying\\\\Functions\\\\Value\\<string\\> given\\.$#"
            count: 1
            path: packages/queries/src/ConditionFactories/PhpConditionFactory.php

        -
            message: "#^Parameter \\#1 \\$contains of class EDT\\\\Querying\\\\Functions\\\\StringStartsWith constructor expects EDT\\\\Querying\\\\Contracts\\\\FunctionInterface\\<string\\|null\\>, EDT\\\\Querying\\\\Functions\\\\Value\\<string\\> given\\.$#"
            count: 1
            path: packages/queries/src/ConditionFactories/PhpConditionFactory.php

        -
            message: "#^Parameter \\#1 \\$function of class EDT\\\\Querying\\\\Functions\\\\LowerCase constructor expects EDT\\\\Querying\\\\Contracts\\\\FunctionInterface\\<string\\|null\\>, EDT\\\\Querying\\\\Functions\\\\Value\\<string\\> given\\.$#"
            count: 1
            path: packages/queries/src/ConditionFactories/PhpConditionFactory.php

        -
            message: """
                #^Call to deprecated method getObjects\\(\\) of class EDT\\\\Querying\\\\Contracts\\\\ObjectProviderInterface\\:
                use \\{@link EntityProviderInterface\\} instead$#
            """
            count: 1
            path: packages/queries/src/FluentQueries/FluentQuery.php

        -
            message: """
                #^Parameter \\$objectProvider of method EDT\\\\Querying\\\\FluentQueries\\\\FluentQuery\\:\\:__construct\\(\\) has typehint with deprecated interface EDT\\\\Querying\\\\Contracts\\\\ObjectProviderInterface\\:
                use \\{@link EntityProviderInterface\\} instead$#
            """
            count: 1
            path: packages/queries/src/FluentQueries/FluentQuery.php

        -
            message: "#^Empty array passed to foreach\\.$#"
            count: 1
            path: packages/queries/src/Functions/AnyEqual.php

        -
            message: "#^Strict comparison using \\=\\=\\= between \\*NEVER\\* and mixed will always evaluate to false\\.$#"
            count: 1
            path: packages/queries/src/Functions/AnyEqual.php

        -
            message: """
                #^Class EDT\\\\Querying\\\\ObjectProviders\\\\PrefilledObjectProvider implements deprecated interface EDT\\\\Querying\\\\Contracts\\\\ObjectProviderInterface\\:
                use \\{@link EntityProviderInterface\\} instead$#
            """
            count: 1
            path: packages/queries/src/ObjectProviders/PrefilledObjectProvider.php

        -
            message: "#^Method EDT\\\\Querying\\\\PropertyPaths\\\\PropertyPath\\:\\:getIterator\\(\\) should return Traversable\\<int, non\\-empty\\-string\\> but returns ArrayIterator\\<int, non\\-empty\\-string\\>\\|ArrayIterator\\<int, string\\>\\.$#"
            count: 1
            path: packages/queries/src/PropertyPaths/PropertyPath.php

        -
            message: "#^Property EDT\\\\Querying\\\\PropertyPaths\\\\PropertyPath\\:\\:\\$iterator \\(ArrayIterator\\<int, non\\-empty\\-string\\>\\|null\\) does not accept ArrayIterator\\<int, string\\>\\.$#"
            count: 1
            path: packages/queries/src/PropertyPaths/PropertyPath.php

        -
            message: "#^Parameter \\#2 \\$callback of function array_walk expects callable\\(EDT\\\\Querying\\\\Contracts\\\\PathsBasedInterface, int, array\\<int\\|string, string\\>\\)\\: mixed, array\\{\\$this\\(EDT\\\\Querying\\\\Utilities\\\\PathTransformer\\), 'prefixPaths'\\} given\\.$#"
            count: 1
            path: packages/queries/src/Utilities/PathTransformer.php
